@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import "reset.css";

:root {
	--primary-100: #f5fee7;
	--primary-200: #e8fec5;
	--primary-300: #c0fa73;
	--primary-400: #57a203;
	--primary-500: #477a11;
	--neutral-0: #ffffff;
	--neutral-100: #f8f9fa;
	--neutral-200: #e9ecef;
	--neutral-300: #dee2e6;
	--neutral-400: #ced4da;
	--neutral-500: #adb5bd;
	--neutral-600: #6c757d;
	--neutral-700: #495057;
	--neutral-800: #343a40;
	--neutral-900: #212529;
	--danger-300: #D74F4F;
}

*, *::before, *::after {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: var(--neutral-900);
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
	color: var(--neutral-900);
	font-weight: 500;
}

.h1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
}

.h2 {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}

.h3 {
	font-size: 28px;
	line-height: 1.2;
	font-weight: 700;
}

.h4 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}

.h5 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
}

.h6 {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
}

@media (max-width: 767px){
	.h3-md{
		font-size: 28px;
	}
	.h4-md{
		font-size: 24px;
	}
	.h5-md{
		font-size: 20px;
	}
	.h6-md{
		font-size: 16px;
	}
	
}

@media (max-width: 576px){
	.h3-sm{
		font-size: 28px;
	}
	.h4-sm{
		font-size: 24px;
	}
	.h5-sm{
		font-size: 20px;
	}
	.h6-sm{
		font-size: 16px;
	}
	
}

.container.container {
	max-width: 1320px;
	margin: 0 auto;
	padding-right: 12px;
	padding-left: 12px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.col-1 {
	padding: 0 12px;
	width: calc(100% / 12);
}

.col-2 {
	padding: 0 12px;
	width: calc(100% / 12 * 2);
}

.col-3 {
	padding: 0 12px;
	width: calc(100% / 12 * 3);
}

.col-4 {
	padding: 0 12px;
	width: calc(100% / 12 * 4);
}

.col-5 {
	padding: 0 12px;
	width: calc(100% / 12 * 5);
}

.col-6 {
	padding: 0 12px;
	width: calc(100% / 12 * 6);
}

.col-7 {
	padding: 0 12px;
	width: calc(100% / 12 * 7);
}

.col-8 {
	padding: 0 12px;
	width: calc(100% / 12 * 8);
}

.col-9 {
	padding: 0 12px;
	width: calc(100% / 12 * 9);
}

.col-10 {
	padding: 0 12px;
	width: calc(100% / 12 * 10);
}

.col-11 {
	padding: 0 12px;
	width: calc(100% / 12 * 11);
}

.col-12 {
	padding: 0 12px;
	width: 100%;
}

@media (max-width: 767px){
	.row{
		margin: 0 -6px;
	}
	.col-md-1{
		padding: 0 6px;
		width: calc(100% / 4 );
	}
	.col-md-2{
		padding: 0 6px;
		width: calc(100% / 4 * 2);
	}
	.col-md-3{
		padding: 0 6px;
		width: calc(100% / 4 * 3);
	}
	.col-md-4{
		padding: 0 6px;
		width: 100%;
	}
}

.d-flex {
	display: flex;
}

.d-none{
	display: none;
}

@media (max-width: 767px){
	.d-md-block{
		display: block;
	}
	.d-md-none{
		display: none;
	}
}

@media (max-width: 576px){
	.d-sm-block{
		display: block;
	}
	.d-sm-none{
		display: none;
	}
}

.jcsb {
	justify-content: space-between;
}

.jcc {
	justify-content: center;
}

.aic {
	align-items: center;
}

.flex-w {
	flex-wrap: wrap;
}

.g-8 {
	gap: 8px;
}

.text-primary-400 {
	color: var(--primary-400);
}

.text-danger {
	color: var(--danger-300);
}

.bg-primary-200 {
	background-color: var(--primary-200);
}

.bg-neutral-100 {
	background-color: var(--neutral-100);
}

.p-12 {
	padding: 12px;
}

.py-8 {
	padding: 8px 0;
}

.py-12 {
	padding: 12px 0;
}

.py-16 {
	padding: 16px 0;
}

.py-24 {
	padding: 24px 0;
}

.py-32{
	padding: 32px 0;
}

.py-48 {
	padding: 48px 0;
}

.py-64 {
	padding: 64px 0;
}

@media (max-width: 767px){
	.py-md-16{
		padding: 16px 0;
	}
	.py-md-32{
		padding: 32px 0;
	}
	.pb-md-32{
		padding-bottom: 32px;
	}
}

@media (max-width: 576px){
	.px-sm-12{
		padding: 0 12px;
	}
	.py-sm-12{
		padding: 12px 0;
	}
	.py-sm-32{
		padding: 32px 0;
	}
}

.mr-8 {
	margin-right: 8px;
}

.mr-12{
	margin-right: 12px;
}

.mr-24 {
	margin-right: 24px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-48 {
	margin-right: 48px;
}

.mb-4 {
	margin-bottom: 4px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-32 {
	margin-bottom: 32px;
}

.mb-40 {
	margin-bottom: 40px; 
}

.mb-48 {
	margin-bottom: 48px;
}

@media (max-width: 767px){
	.mb-md-0{
		margin-bottom: 0;
	}
	.mb-md-8{
		margin-bottom: 8px;
	}
	.mb-md-12{
		margin-bottom: 12px;
	}
	.mb-md-16{
		margin-bottom: 16px;
	}
	.mb-md-24{
		margin-bottom: 24px;
	}
	.mb-md-32{
		margin-bottom: 32px;
	}
}

@media (max-width: 576px){
	.mr-sm-0{
		margin-right: 0;
	}
	.mr-sm-16{
		margin-right: 16px;
	}
	.mb-sm-4{
		margin-bottom: 4px;
	}
	.mb-sm-8{
		margin-bottom: 8px;
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	content: '/';
	padding: 0 12px;
	color: var(--neutral-300);
	font-weight: 700;
}

.breadcrumb-item {
	display: flex;
	font-weight: 500;
}

@media (max-width: 767px){
	.breadcrumb-item + .breadcrumb-item::before{
		padding: 0 8px;
	}
	.breadcrumb-item{
		font-size: 14px;
	}
}

.breadcrumb-link{
	color: var(--neutral-600);
}

.btn {
	border-radius: 4px;
	padding: 12px 24px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

@media (max-width: 576px){
	.btn{
		padding: 8px 16px;
	}
}

.btn-dark {
	background-color: var(--neutral-900);
	color: var(--neutral-0);
}

.btn-light {
	border: 1px solid var(--neutral-900);
}

.copyright {
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--neutral-600);
	padding-top: 32px;
	border-top: 1px solid var(--neutral-300);
}